/* Importing a Google Font with various font weights */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Resetting default margin, padding, and box-sizing for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for the entire page */
body {
    font-family: 'Red Hat Display', sans-serif; 
    min-height: 100vh; 
    background-image: url(images/pattern-background-desktop.svg); /* Background image */
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: hsl(225, 100%, 94%); 
    position: relative; 
    font-size: 16px; 
}

/* Styling for the main container */
.container {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    max-width: 450px; 
    background: white;
    border-radius: 20px; 
    overflow: hidden; 
}

/* Styling for the text content within the container */
.text-content {
    padding: 7%; 
    text-align: center; 
}

/* Styling for the main title */
.title {
    color: hsl(223, 47%, 23%); 
    font-weight: 900; 
    font-size: 32px; 
    margin-bottom: 20px;
}

/* Styling for the subtitle within text content */
.text-content p.subtitle {
    color: #8a8a8a; 
    margin-bottom: 25px;
}

/* Styling for the plan box section */
.plan-box {
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px; 
     display: flex; 
    padding: 25px; 
    align-items: center; 
    justify-content: space-between; 
}

/* Styling for the left side of the plan box */
.plan-box-left {
    display: flex; 
    align-items: center; 
    text-align: left;
}

/* Styling for elements within the left side of the plan box */
.plan-box-left div {
    margin-left: 20px; 
}

/* Styling for headings within the plan box */
.plan-box-left div h5 {
    font-weight: 900;
    font-size: 15px; 
    color: hsl(223, 47%, 23%); 
}

/* Styling for paragraphs within the plan box */
.plan-box-left div p {
    font-size: 14px; 
    color: #8a8a8a; 
}

/* Styling for links within the plan box */
.plan-box a {
    font-weight: 900; 
    color: hsl(223, 47%, 23%); 
    transition: color .3s ease; 
}

/* Styling for link hover state */
.plan-box a:hover {
    text-decoration: none; 
    color: hsl(245, 75%, 52%); 
}

/* Styling for the proceed button link */
a.proceed-btn {
    display: block; 
    text-decoration: none; 
    color: white; 
    background-color: hsl(245, 75%, 52%); 
    padding: 20px 0; 
    border-radius: 12px; 
    margin: 30px 0; 
    transition: background-color .3s ease; 
}

/* Styling for the proceed button hover state */
a.proceed-btn:hover {
    background-color: hsl(224, 23%, 55%); 
}

/* Styling for the cancel button link */
a.cancel-btn {
    color: hsl(224, 23%, 55%); 
    text-decoration: none; 
    font-weight: 900; 
    transition: color .3s ease;
}

/* Styling for the cancel button hover state */
a.cancel-btn:hover {
    color: hsl(223, 47%, 23%); 
}

/* Media query for screens with a maximum width of 425px */
@media only screen and (max-width: 425px) {
    body {
        background-image: url(images/pattern-background-mobile.svg); /* Mobile background image */
        font-size: 14px; 
    }

    .container {
        max-width: 87%; 
    }

    .title {
        font-size: 23px; 
    }

    div.plan-box {
        padding: 12px; 
    }

    .plan-box-left div {
        margin-left: 10px; 
    }

    a.proceed-btn,
    a.cancel-btn,
    .plan-box a {
        font-size: 13px; 
    }

    .text-content {
        padding: 9% 7%; 
    }
}
